<div id="recipe-form">
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.fields_for :steps do |steps_form| %>
      <h5>Step <%= steps_form.index + 1%></h5>
      <div class="ingredient-fields">
        <%= steps_form.fields_for :ingredients do |ingredients_form| %>
          <div class="row">
            <div class="col-md-2">
              <%= ingredients_form.text_field :amount, placeholder: "1", class: "form-control" %>
            </div>
            <div class="col-md-2">
              <%= ingredients_form.select :unit, options_for_select(['cups', 'tsp', 'tbsp', 'piece(s)', 'oz']), 
                {}, {class: "form-control c-select"} %>
            </div>
            <div class="col-md-3">
              <%= ingredients_form.text_field :name, placeholder: "ingredient", class: "form-control" %>
            </div>
            <div class="col-md-1">
              <%= ingredients_form.check_box :_destroy, class: "form-control" %><small>x</small>
            </div>
          </div>
          <button class="add-ingredient" data-step-index="<%= steps_form.index %>" data-ing-index="<%= ingredients_form.index + 1 %>">+</button>
          <% end %>
      </div>
      <div class="form-group">
        <%= steps_form.text_area :description, placeholder: "Directions...", class: "form-control" %>

        <%= steps_form.check_box :_destroy %>
        <%= steps_form.label "delete this step" %>
      </div>
    <% end %>
  </div>
  <button class="add-step btn btn-secondary">Add a Step</button></li>

  <hr />
  <div class="form-group">
    <%= f.collection_check_boxes :tag_ids, Tag.all().order('name'), :id, :name do |cb| %>
      <% cb.label(class: "checkbox-inline") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Recipe", class:"btn btn-primary" %>
  </div>
<% end %>
</div>

<br />
<%= javascript_include_tag 'add_fields.js' %>
