<p id="notice"><%= notice %></p>

<%= @recipe.name %>

<% @recipe.ingredients.each do |i| %>
  <%= i.amount %>
  <%= i.unit %>
  <%= i.name %>
<% end %>

<%= @recipe.instructions %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
