<p id="notice"><%= notice %></p>
<h1><%= @recipe.name %></h1>
<% if !@recipe.link.blank? %>
  <h1><%= @recipe.link %></h1>
<% end %>
<% consolidate_ingredients([@recipe]).each do |ing| %>
  <%= rational_to_mixed(ing[1]['amount']) + " #{ing[1]['unit']} #{ing[0]}" %><br />
<% end %>
<ol>
<hr />
<% @recipe.steps.each do |step| %>
  <li>
  <% step.ingredients.each_with_index do |ing, index| %>
    <%= ing.amount %>
    <%= ing.unit %>
    <%= ing.name %><br />
  <% end %>
  <br />
  <%= step.description %>
  </li>
  <hr />
<% end %>
</ol>
<h3>Tags:</h3>
<ul>
<% @recipe.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
