<p id="notice"><%= notice %></p>
<% if @recipe.link.blank? %>
  <h1><%= @recipe.name %></h1>
<% else %>
  <h1><%= link_to @recipe.name, @recipe.link %></h1>
<% end %>
<div class="card">
<ul>
<% consolidate_ingredients([@recipe]).each do |ing| %>
  <li><%= rational_to_mixed(ing[1]['amount']) + " #{ing[1]['unit']} #{ing[0]}" %></li>
<% end %>
</ul>
</div>
<ul>
<% @recipe.steps.each_with_index do |step, index| %>
  <li>
  <h5>Step <%= index + 1 %></h5>
  <% step.ingredients.each do |ing| %>
    <%= ing.amount %>
    <%= ing.unit %>
    <%= ing.name %><br />
  <% end %>
  <br />
  <%= step.description %>
  </li>
  <hr />
<% end %>
</ul>
<h3>Tags:</h3>
<ul>
<% @recipe.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
